body{
    background-image:url(https://cdn.discordapp.com/attachments/382935767112220673/780887131660353596/1606211841099_ezgif-4-6fac24530346-1-1.png);
}

h1,h2{
    background: rgba(201, 202, 211, 50%);
    text-align: center;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li a {
    float: left;
    padding: 20px 150px;
    display: block;
    background: #cccccc;
    font-size: 20px;
    width: 10px;
}

li a:hover{
    background: #ffffff;
}